@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

#options {
    display: flex;
    justify-content: center;
    height: 650px;
}


#question {
    height: 100px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    font-weight: bold;
    font-size: 30px;
    background-color: #F1BCD7;
    justify-content: center;
}

.audio {
    padding-top: 3%;
    padding-bottom: 2%;
}

.play {
    font-size: 18px;
    color: black;
    font-weight: normal;
}

.choice-btn {
    width : 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #F08080;
    border: none;
    border-radius: 10%;
    margin-bottom: 5%;
}

.wrong-answer-button {
    width : 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10%;
    margin-bottom: 5%;
}

.right-answer-button {
    width : 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10%;
    margin-bottom: 5%;
}

.option1, .option2 {
    height: 400px;
    width: 400px;
}

.option2 img {
    width: 430px;
    height: auto;
}

.artist {
    margin-bottom: 7%;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

div img {
    width: 80%;
    height: 70%;
    border-radius: 10%;
    margin-bottom: 3%;
}

.counts {
    height: 100px;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
    background-color: #F1BCD7;
    margin-top: 2%;
}

.points {
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    background-color: #F1BCD7;
    justify-content: center;
    align-items: center;
    color: black;
}

.good-answers {
    background-color: #F1BCD7;
}

.choice-btn:hover {
    cursor: pointer;
    border-color: black;
}

#next-btn {
    width : 300px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #8B0000;
    border: none;
    border-radius: 10%;
    margin-bottom: 1%;
    margin-top: 5%;
}

#next-btn:hover {
    cursor: pointer;
    border-color: black;
}

.hide {
    display: none;
}