
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
    font-family:cursive;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
padding: 5% 0% 2%;
}

.test {
padding: 5% 0%;
}

.rules {
    background-color: beige;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 5% 0%;
}

.btn-start {
    width : 200px;
    height: 50px;
}
